ASPNETCORE_ENVIRONMENT=Development
COMPOSE_PROJECT_NAME=oficina-api
API_HTTP_PORT=8080
API_IMAGE_REPOSITORY=oficina-api
API_IMAGE_TAG=local

SQLSERVER_HOST=sqlserver
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=OficinaDb
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=CHANGE_ME_LOCAL_SQLSERVER_PASSWORD
SQLSERVER_ENCRYPT=False
SQLSERVER_TRUST_SERVER_CERTIFICATE=True

SMTP4DEV_WEB_PORT=5000
SMTP4DEV_SMTP_PORT=25
EMAIL_SMTP_HOST=smtp4dev
EMAIL_SMTP_PORT=25
EMAIL_SMTP_ENABLE_SSL=false
EMAIL_FROM=no-reply@oficina.local
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=
EMAIL_BASE_URL_SMTP=http://localhost:5000
EMAIL_BASE_URL_APROVA_RECUSA_ORCAMENTO=http://localhost:8080

JWT_SECRET=CHANGE_ME_LOCAL_JWT_SECRET_MIN_32_CHARS
JWT_ISSUER=Oficina.Api
JWT_AUDIENCE=Oficina.Api
JWT_EXPIRATION_MINUTES=120

ADMIN_INICIAL_ENABLED=false
ADMIN_INICIAL_NOME=
ADMIN_INICIAL_CPF=
ADMIN_INICIAL_SENHA=
ADMIN_INICIAL_MAX_TENTATIVAS=12
ADMIN_INICIAL_INTERVALO_SEGUNDOS=5
