ASPNETCORE_ENVIRONMENT=Development
COMPOSE_PROJECT_NAME=oficina-api
API_HTTP_PORT=8080
API_IMAGE_REPOSITORY=oficina-api
API_IMAGE_TAG=local

MSSQL_DATABASE=OficinaDb
MSSQL_SA_PASSWORD=Oficina_dev_2026!
SQLSERVER_PORT=1433

SMTP4DEV_WEB_PORT=5000
SMTP4DEV_SMTP_PORT=25
EMAIL_FROM=no-reply@oficina.local

JWT_SECRET=oficina-local-development-secret-2026
JWT_ISSUER=Oficina.Api
JWT_AUDIENCE=Oficina.Api
JWT_EXPIRATION_MINUTES=120

RUN_MIGRATION=true

ADMIN_INICIAL_ENABLED=true
ADMIN_INICIAL_NOME=Admin Local
ADMIN_INICIAL_CPF=39053344705
ADMIN_INICIAL_SENHA=Senha@123
